<div>
  <h1 style="text-decoration: rgba(78,55,104,0.96)">Clubs</h1>
  <table class="clubs_table" id="t01" >
    <tbody>
      <tr>
        <td class="club_name">
          <a class="category_name" href="/clubs/blabla">Iran</a>
          <h2 class="description">Detalii despre club</h2>
        </td>
        <td class="nr_members">
          341 members
        </td>
      </tr>

      <tr>
        <td class="club_name">
          <a class="category_name" href="/clubs/blabla">Kristo's Team Chess players</a>
          <h2 class="description">Detalii despre club</h2>
        </td>
        <td class="nr_members">
          234 members
        </td>
      </tr>

      <tr>
        <td class="club_name">
          <a class="category_name" href="/clubs/blabla">Russian Chess Players</a>
          <h2 class="description">Detalii despre club</h2>
        </td>
        <td class="nr_members">
          127 members
        </td>
      </tr>
      <tr>
        <td class="club_name">
          <a class="category_name" href="/clubs/blabla">Francophone</a>
          <h2 class="description">Detalii despre club</h2>
        </td>
        <td class="nr_members">
          121 members
        </td>
      </tr>
      <tr>
        <td class="club_name">
          <a class="category_name" href="/clubs/blabla">ONLY MY MY</a>
          <h2 class="description">Detalii despre club</h2>
        </td>
        <td class="nr_members">
          91 members
        </td>
      </tr>
      <tr>
        <td class="club_name">
          <a class="category_name" href="/clubs/blabla">USA</a>
          <h2 class="description">Detalii despre club</h2>
        </td>
        <td class="nr_members">
          82 members
        </td>
      </tr>
      <tr>
        <td class="club_name">
          <a class="category_name" href="/clubs/blabla">CHEATER INVESTIGATION ASSOCIATION(CIA) </a>
          <h2 class="description">Detalii despre club</h2>
        </td>
        <td class="nr_members">
          34 members
        </td>
      </tr>
      <tr>
        <td class="club_name">
          <a class="category_name" href="/clubs/blabla">Chessbrah Fan Club</a>
          <h2 class="description">Detalii despre club</h2>
        </td>
        <td class="nr_members">
          15 members
        </td>
      </tr>
      <tr>
        <td class="club_name">
          <a class="category_name" href="/clubs/blabla">Brazilian players</a>
          <h2 class="description">Detalii despre club</h2>
        </td>
        <td class="nr_members">
          6 members
        </td>
      </tr>

    </tbody>

  </table>
</div>
