
.content_box{
  background-color: #eee;

  border: solid  rgba(165,162,164,0.96);
  margin-bottom: 1em;
}
.titles{
  font-size: 2.5em;
  color: #3B5998;
}
p {
  font-size: 1.8em;
  margin-left: 2em;
}
h2{
  margin-left: 1em;
  font-size: 20px;
}
ul{
  font-size: 23px;
  color: darkslateblue;
}
ul li{
  font-size: 0.8em;
  color: darkslateblue;
}
ul>li>ul>li{
  color: black;
}

demo-list-icon {
  width: 300px;
}

.demo-card-wide.mdl-card {
  width: 512px;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;

}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}

.textcard{
  padding: 2%;
}

.xcard{
  padding-right: 2%;
  padding-bottom: 2%;
}

.minititles{
  background-color: #dee8f7;
}
