/*
<div id="topDiv">
  <app-logo-section></app-logo-section>
  <app-profile-section *ngIf="showProfile"></app-profile-section>
  <app-authenticate-section *ngIf="showAuthentificateSection"></app-authenticate-section>
</div>
<div id="bottomDiv">
<app-menu-section></app-menu-section>
</div>
 */

#topDiv {
  vertical-align: top;
}
#bottomDiv {
  vertical-align: bottom;
}

#app-logo-section {
  horiz-align: left;
}

#app-profile-section {
  horiz-align: left;
}
#app-authenticate-section {
  horiz-align: left;
}

@media screen and (max-width:479px) {
  #app-logo-section{
    vertical-align: top;
  }
  #app-profile-section {
    vertical-align: center;
  }
  #app-authenticate-section {
    vertical-align: bottom;
  }
}

@media screen and (min-width:480px) and (max-width:639px) {
  #app-logo-section{
    vertical-align: top;
  }
  #app-profile-section {
    vertical-align: center;
  }
  #app-authenticate-section {
    vertical-align: bottom;
  }
}

@media screen and (min-width: 640px) and (max-width: 769px) {
  #app-logo-section{
    vertical-align: top;
  }
  #app-profile-section {
    vertical-align: top;
  }
  #app-authenticate-section {
    vertical-align: top;
  }
}

@media screen and (min-width: 760px) and (max-width: 959px) {

}

@media screen and (min-width: 960px) and (max-width: 1279px) {

}

@media screen and (min-width: 1280px) and (max-width: 1919px) {

}

@media screen and (min-width: 1920px) {

}
