<div>
  <div class="info-sidebar">
    <div class="roundbox sidebox top contributed">
      <div class="roundbox-lt">&nbsp;</div>
      <div class="roundbox-rt">&nbsp;</div>
      <div class="caption titled">→ Top rated</div>
      <table class="rtable">
        <tbody>
        <tr>
          <th class="left">#</th>
          <th>User</th>
          <th>Rating</th>
        </tr>
        <tr>
          <td class="left dark">1</td>
          <td class="dark">
            <a href="/profile/Djok" title="GrandMaster" style="color: red">Djok</a>
          </td>
          <td class="dark">6969</td>
        </tr>
        <tr>
          <td class="left dark">2</td>
          <td class="dark">
            <a href="/profile/TTm" title="Newbie" style="color: green">TTm</a>
          </td>
          <td class="dark">69</td>
        </tr>
        <tr>
          <td class="left dark">3</td>
          <td class="dark">
            <a href="/profile/Nicu_Racusor" title="Newbie" style="color: green">Nicu_Racusor</a>
          </td>
          <td class="dark">68</td>
        </tr>
        <tr>
          <td class="left dark">4</td>
          <td class="dark">
            <a href="/profile/TTm" title="Newbie" style="color: green">Ultina</a>
          </td>
          <td class="dark">67</td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="roundbox sidebox">
      <div class="roundbox-lt">&nbsp;</div>
      <div class="roundbox-rt">&nbsp;</div>
      <div class="caption titled">→ Find User</div>
      <form style="display: block" method="post" autocomplete="off">
        <div style="padding-left:1em;text-align:left; font-size: 15px">
          <label style="padding-right:1em;">Nickname:
            <input style="width:12em;" type="text" class="handleBox ac_input" autocomplete="off">
          </label>
          <div style="padding: 0.4em 1em 1em 1em;text-align:right;">
            <input style="height:1.65em;padding:0 0.75em;" type="submit" value="Find">
          </div>
        </div>
      </form>
    </div>

    <div class="roundbox sidebox">
      <div class="roundbox-lt">&nbsp;</div>
      <div class="roundbox-rt">&nbsp;</div>
      <div class="caption titled">→ Recent Actions</div>
      <ul>
        <li>
          <div style="font-size:1.4em;padding:0.3em 0;">
            <a href="/profile/Djok" title="Grandmaster Djok" style="color: red;">Djok</a>→<a href="/formu/games/pagina006900">Cum va pare acest site ?</a>
          </div>
        </li>
        <li>
          <div style="font-size:1.4em;padding:0.3em 0;">
            <a href="/profile/Nicu_Racusor" title="Newbie Nicu_Racusor" style="color: green;">Nicu_Racusor</a>→<a href="/formu/games/pagina006901">Cam slab e totul....</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
