#img-logo {
  max-height : 13em;
  margin: -2em 0;
}

@media screen and (max-width:479px) {
  #img-logo {
    max-width: 50%;
    float: left;
  }
}

@media screen and (min-width:480px) and (max-width:639px) {
  #img-logo {
    max-width: 40%;
    float: left;
  }
}

@media screen and (min-width: 640px) and (max-width: 769px) {

}

@media screen and (min-width: 760px) and (max-width: 959px) {

}

@media screen and (min-width: 960px) and (max-width: 1279px) {

}

@media screen and (min-width: 1280px) and (max-width: 1919px) {

}

@media screen and (min-width: 1920px) {

}
