<div style="padding-bottom: 10px;">
  <table class="mdl-data-table mdl-js-data-table mdl-shadow--4dp" style="width: 30em">
    <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric">#</th>
      <th class="mdl-data-table__cell--non-numeric" style="text-align:center">Username</th>
      <th>Rating</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td class="mdl-data-table__cell--non-numeric">1</td>
      <td style="color: red;text-align:center">Djok</td>
      <td>1011</td>
    </tr>
    <tr>
      <td class="mdl-data-table__cell--non-numeric">2</td>
      <td style="color: red;text-align:center">Catavencu</td>
      <td>1300</td>
    </tr>
    <tr>
      <td class="mdl-data-table__cell--non-numeric">3</td>
      <td style="color: green;text-align:center">ttm</td>
      <td>300</td>
    </tr>
    <tr>
      <td class="mdl-data-table__cell--non-numeric">4</td>
      <td style="color: gray;text-align:center">Ultina</td>
      <td>250</td>
    </tr>
    </tbody>
  </table>
</div>

<div style="padding-bottom: 10px">
  <table class="mdl-data-table mdl-js-data-table mdl-shadow--4dp" style="width: 30em">
    <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric">Find Users</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th class="mdl-data-table__cell--non-numeric">
        <md-input-container>
          <input mdInput placeholder="Nickname" #string_match style="width: 20em"z>
        </md-input-container>
      </th>
      <th><button class="mdl-button mld-js-button mdl-button--primary" (click)="onFindUserClick(string_match.value)">Find</button></th>
    </tr>
    </tbody>
  </table>
</div>

<div style="padding-bottom: 10px">
  <table class="mdl-data-table mdl-js-data-table mdl-shadow--4dp" style="width: 30em">
    <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric">Last Active Posts</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td class="mdl-data-table__cell--non-numeric" style="color: red;">Djok</td>
      <td><a (click)="changeRoute('live')">Chigorin Defence</a></td>
    </tr>
    <tr>
      <td class="mdl-data-table__cell--non-numeric" style="color: red">Catavencu</td>
      <td><a (click)="changeRoute('home')">Queen's Gambit Accepted</a></td>
    </tr>
    <tr>
      <td class="mdl-data-table__cell--non-numeric" style="color: red">Catavencu</td>
      <td><a (click)="changeRoute('home')">Bird Opening</a></td>
    </tr>
    <tr>
      <td class="mdl-data-table__cell--non-numeric" style="color: red;">Djok</td>
      <td><a (click)="changeRoute('home')">Ruy Lopez Opening</a></td>
    </tr>
    </tbody>
  </table>
</div>
