@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

:root {
  /*--section for link colors*/
  --color-link: #206aaa;
  --color-link-visited: #0a2944;
  --color-link-hover: #6cce21;
  --color-link-active: #155956;
  --color-underline-menu: #3B5998;
  --color-border-menu: black;
  --color-background-menu: transparent;

  --color-menu-nav-item-background: white;
  --color-menu-nav-item-hover: #a7d1f2;
  --color-menu-nav-item-text: black;

  --color-button-desibled-hover: #6899e8;
  --color-button-desibled: #dee8f7;
  --color-button-background: #c4d5ef;
   /*--end section for link colors*/
}

html {
  font-size: 10px;
  margin: 0 auto;
}

#pageContent {
  margin: 0 auto;
  padding-top: 2em;
  min-height: 20em;
  float: left;
}

#body {
  font-family: Roboto, sans-serif;
  padding-top: 0.75em;
  margin: 0 auto;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#sidebar {
  float: right;
  width: 23%;
  display: inline;
  margin: 0 auto;
  position: relative;
}

/* section for override all links colors*/
a:link {
  color: var(--color-link);
}

a:visited {
  color: var(--color-link-visited);
}

a:hover {
  color: var(--color-link-hover);
}

a:active {
  color: var(--color-link-active);
}
