<div class="info_s">
  <div class="info-sidebar">
    <div class="roundbox sidebox top contributed">
      <div class="roundbox-lt">&nbsp;</div>
      <div class="roundbox-rt">&nbsp;</div>
      <div class="caption titled">Clubs ratings</div>
      <table class="rtable">
        <thead>
        <tr>
          <th>Club name</th>
          <th>Rating</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td class="dark">
            <a href="/forum/general_chess" class='category_name'>Kristo's Team Chess players</a>
          </td>
          <td class="dark">6969</td>
        </tr>
        <tr>
          <td class="dark">
            <a href="/forum/cats"  class='category_name'>Iran</a>
          </td>
          <td class="dark">69</td>
        </tr>
        <tr>
          <td class="dark">
            <a href="/forum/off_topic"  class='category_name' >Francophone</a>
          </td>
          <td class="dark">68</td>
        </tr>
        <tr>
          <td class="dark">
            <a href="/forum/blabla"   class='category_name' >Brazilian players</a>
          </td>
          <td class="dark">67</td>
        </tr>
        <tr>
          <td class="dark">
            <a href="/forum/strategy"   class='category_name' >USA</a>
          </td>
          <td class="dark">47</td>
        </tr>
        <tr>
          <td class="dark">
            <a href="/forum/blabla"   class='category_name' >Russian Chess Players</a>
          </td>
          <td class="dark">27</td>
        </tr>
        <tr>
          <td class="dark">
            <a href="/forum/blabla"   class='category_name' >Francophone</a>
          </td>
          <td class="dark">7</td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="roundbox sidebox">
      <div class="roundbox-lt">&nbsp;</div>
      <div class="roundbox-rt">&nbsp;</div>
      <div class="caption titled">→ Find Club</div>
      <form style="display: block" method="post" autocomplete="off">
        <div style="padding-left:1em;text-align:left; font-size: 15px">
          <label style="padding-right:1em;">Name:
            <input style="width:12em;" type="text" class="handleBox ac_input" autocomplete="off">
          </label>
          <div style="padding: 0.4em 1em 1em 1em;text-align:right;">
            <input style="height:1.65em;padding:0 0.75em;" type="submit" value="Find">
          </div>
        </div>
      </form>
    </div>


  </div>
</div>
