<div class="roundbox menu-box">
  <div class="roundbox-lt">&nbsp;</div>
  <div class="roundbox-rt">&nbsp;</div>
  <div class="roundbox-lb">&nbsp;</div>
  <div class="roundbox-rb">&nbsp;</div>
  <div class="menu-list-container">
    <ul class="menu-list main-menu-list">
      <li class="current">
        <a href="./index.html">Home</a>
      </li>
      <li>
        <a href="./Play">Play</a>
      </li>
      <li>
        <a href="./Live">Live</a>
      </li>
      <li>
        <a href="./Clubs">Clubs</a>
      </li>
      <li>
        <a href="./Learn">Learn</a>
      </li>
      <li>
        <a href="./Forum">Forum</a>
      </li>
      <li>
        <a href="./Stats">Stats</a>
      </li>
      <li>
        <a href="/Help">Help</a>
      </li>
    </ul>
    <br style="clear: both">
  </div>
</div>

