.authenticate {
  font-size: 1em;
}

.btnLogin {
   background-color: var(--color-button-background);
   border-radius: 5% 3% 3% 5%;
   font-size: 1.5em;
 }

.btnLogin:not([disabled]):hover {
  background-color: var(--color-button-desibled-hover);
  color: white;
}

.btnLogin[disabled] {
  background-color: var(--color-button-desibled);
}

.btnRegister {
  background-color:  var(--color-button-background);
  border-radius: 5% 3% 3% 5%;
  font-size: 1.5em;
}

.btnRegister:not([disabled]):hover {
  background-color:  var(--color-button-desibled-hover);
  color: white;
}

.btnRegister[disabled] {
  background-color: var(--color-button-desibled);
}
