a{
  cursor: pointer;
}

.info-sidebar {
  float: left;
  margin: 0 auto;
}

.sidebox {
}

.rtable {
  text-align-all: left;
  border: black;
}

.info_s {
  position: relative;
}

.container-fluid {
  margin: auto;
}

.inline-block{
  text-align: center;
}

.inner {
  display: table;
  margin: 0 auto;
  width: 100%;
}
