a{
  cursor: pointer;
}

.info-sidebar {
  float: left;
  margin: 0 auto;
}

.sidebox {
  margin-bottom: 1.5em;
}

.rtable {
  text-align-all: left;
  border: black;
}

.info_s {
  position: relative;
}
