<div>
  <div class="info-sidebar">
    <div class="roundbox sidebox top contributed">
      <div class="roundbox-lt">&nbsp;</div>
      <div class="roundbox-rt">&nbsp;</div>
      <div class="caption titled"> Forum Categories</div>
      <table class="rtable">
        <thead>
          <tr>
            <th>Category Title</th>
            <th>Posts</th>
          </tr>
        </thead>
        <tbody>
        <tr>
          <td class="dark">
            <a href="/forum/general_chess" class='category_name'>General Chess Discussion</a>
          </td>
          <td class="dark">6969</td>
        </tr>
        <tr>
          <td class="dark">
            <a href="/forum/cats"  class='category_name'>Cats</a>
          </td>
          <td class="dark">69</td>
        </tr>
        <tr>
          <td class="dark">
            <a href="/forum/off_topic"  class='category_name' >Off-Topic Discussion</a>
          </td>
          <td class="dark">68</td>
        </tr>
        <tr>
          <td class="dark">
            <a href="/forum/blabla"   class='category_name' >Blabla</a>
          </td>
          <td class="dark">67</td>
        </tr>
        <tr>
          <td class="dark">
            <a href="/forum/strategy"   class='category_name' >Strategy</a>
          </td>
          <td class="dark">67</td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="roundbox sidebox">
      <div class="roundbox-lt">&nbsp;</div>
      <div class="roundbox-rt">&nbsp;</div>
      <div class="caption titled">→ Find Post</div>
      <form style="display: block" method="post" autocomplete="off">
        <div style="padding-left:1em;text-align:left; font-size: 15px">
          <label style="padding-right:1em;">Key Words:
            <input style="width:12em;" type="text" class="handleBox ac_input" autocomplete="off">
          </label>
          <div style="padding: 0.4em 1em 1em 1em;text-align:right;">
            <input style="height:1.65em;padding:0 0.75em;" type="submit" value="Find">
          </div>
        </div>
      </form>
    </div>

    <div class="roundbox sidebox">
      <div class="roundbox-lt">&nbsp;</div>
      <div class="roundbox-rt">&nbsp;</div>
      <div class="caption titled">→ Recent Posts</div>
      <ul>
        <li>
          <div style="font-size:1.4em;padding:0.3em 0;">
           <a href="/forum/games/pagina006900">Cum va pare acest site ?</a>
          </div>
        </li>
        <li>
          <div style="font-size:1.4em;padding:0.3em 0;">
           <a href="/formu/games/pagina006901">Cam slab e totul....</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
