<div>
  <table class="rtable"  background="../../../assets/images/BitChessLogo.png">
    <tbody>
    <tr class="tablerow" >

      <td class="tablecell">
        <a href="#child1">

          <h3> 1 + 0 </h3>
          <h4> Bullet</h4>
        </a>
      </td>
      <td class="tablecell">
        <a href="#child2">
          <h3>2 + 1</h3>
          <h4>Bullet</h4>
        </a>
      </td>
      <td  class="tablecell">
        <a href="#child1">
          <h3> 3 + 0 </h3>
          <h4>Blitz</h4>
        </a>
      </td>
    </tr >
    <tr class="tablerow">
      <td  class="tablecell">
        <a href="#child1">
          <h3> 3 + 2 </h3>
          <h4> Blitz </h4>
        </a>
      </td>
      <td  class="tablecell">
        <a href="#child1">
          <h3> 5 + 0 </h3>
          <h4> Blitz</h4>
        </a>
      </td>
      <td class="tablecell">
        <a href="#child1">
          <h3> 5 + 3 </h3>
          <h4>Blitz</h4>
        </a>
      </td>
    </tr>
    <tr class="tablerow">
      <td class="tablecell">
        <a href="#child1">
          <h3> 10 + 0</h3>
          <h4>Classical</h4>
        </a>
      </td>
      <td  class="tablecell">
        <a href="#child1">
          <h3> 15 + 15 </h3>
          <h4>Classical</h4>
        </a>
      </td>
      <td class="tablecell">
        <a href="#child1">
          <h3> Custom </h3>
        </a>
      </td>
    </tr>
    </tbody>
  </table>

</div>
