<div class="stats">
<div class="item html">
  <h2>Back</h2>
  <svg width="160" height="160" xmlns="http://www.w3.org/2000/svg">
    <g>
      <title>Layer 1</title>
      <circle id="circle" class="circle_animation" r="69.85699" cy="81" cx="81" stroke-width="8" stroke="#6fdb6f" fill="none"/>
    </g>
  </svg>
</div>

<div class="item css">
  <h2>Now</h2>
  <svg width="160" height="160" xmlns="http://www.w3.org/2000/svg">
    <g>
      <title>Layer 1</title>
      <circle id="circle" class="circle_animation" r="69.85699" cy="81" cx="81" stroke-width="8" stroke="#69aff4" fill="none"/>
    </g>
  </svg>
</div>
</div>
