<div class="roundbox menu-box">
  <div class="roundbox-lt">&nbsp;</div>
  <div class="roundbox-rt">&nbsp;</div>
  <div class="roundbox-lb">&nbsp;</div>
  <div class="roundbox-rb">&nbsp;</div>
  <div class="menu-list-container">
    <ul class="menu-list main-menu-list">
      <li class="current">
        <a routerLink="/">Home</a>
      </li>
      <li>
        <a routerLink="/play">Play</a>
      </li>
      <li>
        <a routerLink="/live">Live</a>
      </li>
      <li>
        <a routerLink="/clubs">Clubs</a>
      </li>
      <li>
        <a routerLink="/learn">Learn</a>
      </li>
      <li>
        <a routerLink="/forum">Forum</a>
      </li>
      <li>
        <a routerLink="/stats">Stats</a>
      </li>
      <li>
        <a routerLink="/help">Help</a>
      </li>
    </ul>
    <br style="clear: both">
  </div>
</div>

