<div class="nav" fxLayout fxFill fxLayoutAlign="center center">
    <nav md-tab-nav-bar fxLayout>
      <a md-tab-link class="nav-item" (click)="changeRoute('home')">Home</a>
      <a md-tab-link class="nav-item" (click)="changeRoute('play')">Play</a>
      <a md-tab-link class="nav-item" (click)="changeRoute('live')">Live</a>
      <a md-tab-link class="nav-item" (click)="changeRoute('clubs')">Clubs</a>
      <a md-tab-link class="nav-item" (click)="changeRoute('learn')">Learn</a>
      <a md-tab-link class="nav-item" (click)="changeRoute('forum')">Forum</a>
      <a md-tab-link class="nav-item" (click)="changeRoute('status')">Status</a>
      <a md-tab-link class="nav-item" (click)="changeRoute('help')">Help</a>
    </nav>
</div>
