<div class="info_s">
  <div style="padding-bottom: 10px;float:right">
    <table class="mdl-data-table mdl-js-data-table mdl-shadow--4dp">
      <thead>
      <tr>
        <th class="mdl-data-table__cell--non-numeric">#</th>
        <th class="mdl-data-table__cell--non-numeric" style="text-align:center">Steps</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td class="mdl-data-table__cell--non-numeric">1</td>
        <td><a (click)="changeRoute('home')">How to Setup the ChessBoard</a></td>
      </tr>
      <tr>
        <td class="mdl-data-table__cell--non-numeric">2</td>
        <td><a (click)="changeRoute('home')">How the Chess Pieces Move</a></td>
      </tr>
      <tr>
        <td class="mdl-data-table__cell--non-numeric">3</td>
        <td><a (click)="changeRoute('home')">Discover the Special Rules of Chess</a></td>
      </tr>
      <tr>
        <td class="mdl-data-table__cell--non-numeric">4</td>
        <td><a (click)="changeRoute('home')">Find out Who Makes the First Move in Chess</a></td>
      </tr>
      <tr>
        <td class="mdl-data-table__cell--non-numeric">5</td>
        <td><a (click)="changeRoute('home')">Review the Rules of How to Win a Game of Chess</a></td>
      </tr>
      <tr>
        <td class="mdl-data-table__cell--non-numeric">6</td>
        <td><a (click)="changeRoute('home')">Study Basic Chess Strategies</a></td>
      </tr>
      <tr>
        <td class="mdl-data-table__cell--non-numeric">7</td>
        <td><a (click)="changeRoute('home')">Practice by Playing Lots of Games</a></td>
      </tr>
      <tr>
        <td class="mdl-data-table__cell--non-numeric">8</td>
        <td><a (click)="changeRoute('home')">Frequently Asked Chess Questions (FAQs)</a></td>
      </tr>
      </tbody>
    </table>
  </div>

  <div style="padding-bottom: 10px;">
    <table class="mdl-data-table mdl-js-data-table mdl-shadow--4dp">
      <thead>
      <tr>
        <th class="mdl-data-table__cell--non-numeric">Find</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th class="mdl-data-table__cell--non-numeric">
          <md-input-container>
            <input mdInput placeholder="Key Words">
          </md-input-container>
        </th>
        <th><button class="mdl-button mld-js-button mdl-button--primary">Find</button></th>
      </tr>
      </tbody>
    </table>
  </div>
</div>
