/* Styles go here */
*{
  box-sizing:border-box;
}
#board{
  position:relative;
  width:400px;
  height:400px;
}
.place{
 display:inline-block;
  width:50px;
  height:50px;
  border:1px solid gray;
  position:absolute;
 
  
  }
.piece{
  background-image:url('http://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Chess_Pieces_Sprite.svg/2000px-Chess_Pieces_Sprite.svg.png');
 background-size: 586%;
 height:50px;
 width:50px;
 position:absolute;
 border:1px solid gray;
  
}
.piece:hover{
  border:2px solid blue;
}

.killable{
   border:1px solid red;
}

.place.active{
  border:2px solid blue;
}

div[data-piece=Rook]{
  background-position:-188px 0;
}
div[data-piece=Pawn]{
  background-position:48px 0;
}
div[data-piece=Bishop]{
  background-position:188px 0;
}
div[data-piece=Knight]{
  background-position:140px 0;
}
div[data-piece=King]{
  background-position:0px 0;
}
div[data-piece=Queen]{
  background-position:-49px 0;
}


div.black[data-piece=Rook]{
  background-position:-188px 49px;
}
div.black[data-piece=Pawn]{
  background-position:48px 49px
}
div.black[data-piece=Bishop]{
  background-position:188px 49px
}
div.black[data-piece=Knight]{
  background-position:-140px 49px
}
div.black[data-piece=King]{
  background-position:0px 49px;
}
div.black[data-piece=Queen]{
  background-position:-49px 49px;
}