<div>
  <h1 style="text-decoration: rgba(78,55,104,0.96)">Posts</h1>
 <table class="forum_table categories" id="t01" >
  <tbody>
   <div>
    <tr>
     <td class="subject">
        <a class="category_name" href="/forum/general-chess-discussion">General Chess Discussion</a>
        <h2 class="description">The place to discuss general chess topics</h2>
     </td>
     <td class="last_post">
      <a href="/forum/general-chess-discussion/does-anyone-play-on-any-other-chess-websites?page=2#20"></a>
      de
      <a href="/profile/Nicu_Racusor" title="Newbie Nicu_Racusor" style="color: green;">Nicu_Racusor</a>
     </td>
    </tr>

     <tr>
       <td class="subject">
         <a class="category_name" href="/forum/general-chess-discussion">General Chess Discussion</a>
         <h2 class="description">The place to discuss general chess topics</h2>
       </td>
       <td class="last_post">
         <a href="/forum/general-chess-discussion/does-anyone-play-on-any-other-chess-websites?page=2#20"></a>
         de
         <a href="/profile/Nicu_Racusor" title="Newbie Nicu_Racusor" style="color: green;">Nicu_Racusor</a>
       </td>
     </tr>

     <tr>
       <td class="subject">
         <a class="category_name" href="/forum/general-chess-discussion">General Chess Discussion</a>
         <h2 class="description">The place to discuss general chess topics</h2>
       </td>
       <td class="last_post">
         <a href="/forum/general-chess-discussion/does-anyone-play-on-any-other-chess-websites?page=2#20"></a>
         de
         <a href="/profile/Nicu_Racusor" title="Newbie Nicu_Racusor" style="color: green;">Nicu_Racusor</a>
       </td>
     </tr>
     <tr>
       <td class="subject">
         <a class="category_name" href="/forum/general-chess-discussion">General Chess Discussion</a>
         <h2 class="description">The place to discuss general chess topics</h2>
       </td>
       <td class="last_post">
         <a href="/forum/general-chess-discussion/does-anyone-play-on-any-other-chess-websites?page=2#20"></a>
         de
         <a href="/profile/Nicu_Racusor" title="Newbie Nicu_Racusor" style="color: green;">Nicu_Racusor</a>
       </td>
     </tr>
     <tr>
       <td class="subject">
         <a class="category_name" href="/forum/general-chess-discussion">General Chess Discussion</a>
         <h2 class="description">The place to discuss general chess topics</h2>
       </td>
       <td class="last_post">
         <a href="/forum/general-chess-discussion/does-anyone-play-on-any-other-chess-websites?page=2#20"></a>
         de
         <a href="/profile/Nicu_Racusor" title="Newbie Nicu_Racusor" style="color: green;">Nicu_Racusor</a>
       </td>
     </tr>
     <tr>
       <td class="subject">
         <a class="category_name" href="/forum/general-chess-discussion">General Chess Discussion</a>
         <h2 class="description">The place to discuss general chess topics</h2>
       </td>
       <td class="last_post">
         <a href="/forum/general-chess-discussion/does-anyone-play-on-any-other-chess-websites?page=2#20"></a>
         de
         <a href="/profile/Nicu_Racusor" title="Newbie Nicu_Racusor" style="color: green;">Nicu_Racusor</a>
       </td>
     </tr>
     <tr>
       <td class="subject">
         <a class="category_name" href="/forum/general-chess-discussion">General Chess Discussion</a>
         <h2 class="description">The place to discuss general chess topics</h2>
       </td>
       <td class="last_post">
         <a href="/forum/general-chess-discussion/does-anyone-play-on-any-other-chess-websites?page=2#20"></a>
         de
         <a href="/profile/Nicu_Racusor" title="Newbie Nicu_Racusor" style="color: green;">Nicu_Racusor</a>
       </td>
     </tr>
     <tr>
       <td class="subject">
         <a class="category_name" href="/forum/general-chess-discussion">General Chess Discussion</a>
         <h2 class="description">The place to discuss general chess topics</h2>
       </td>
       <td class="last_post">
         <a href="/forum/general-chess-discussion/does-anyone-play-on-any-other-chess-websites?page=2#20"></a>
         de
         <a href="/profile/Nicu_Racusor" title="Newbie Nicu_Racusor" style="color: green;">Nicu_Racusor</a>
       </td>
     </tr>
     <tr>
       <td class="subject">
         <a class="category_name" href="/forum/general-chess-discussion">General Chess Discussion</a>
         <h2 class="description">The place to discuss general chess topics</h2>
       </td>
       <td class="last_post">
         <a href="/forum/general-chess-discussion/does-anyone-play-on-any-other-chess-websites?page=2#20"></a>
         de
         <a href="/profile/Nicu_Racusor" title="Newbie Nicu_Racusor" style="color: green;">Nicu_Racusor</a>
       </td>
     </tr>

    </div>
      </tbody>

  </table>
</div>
